@model CustomerProcessViewModel
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <form method="post">
        <label>Müşteri Adı</label>
        <input  type="text" asp-for="Name" class="form-control"/>
        <br />
        <label>Müşterinin Talep ettiği tutar</label>
        <input type="text" asp-for="Amount" class="form-control" />
        <br />
        <button class="btn btn-danger">Kredi Kontrol et</button>
    </form>

</div>
